<p class="burger-img"><img src="/assets/img/burger.png" alt="burger"></p>
<p><h1 class="title">Eat-Da-Burger!</h1></p>

<div class="row">
    <div class="col-lg-6">
      <h2 class="pl-5">Burgers waiting to be devoured</h2>
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            <li>{{burger_name}}<button class="change-devoured" data-id="{{id}}" data-newburger="{{devoured}}">Devour It!</button></li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-lg-6">
      <h2 class="pl-5">Burgers that have been devoured</h2>
      <ul>
        {{#each burgers}}
          {{#if devoured}}
            <li>{{burger_name}}</li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
</div>

<h2 class="add-burger">Add a Burger</h2>
  <form class="create-form burger-form">
    <div class="form-group">
      <label for="bur">Burger Name:</label>
      <input type="text" id="bur" name="name">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
