<div class="row justify-content-center">
  <div class="row"><img src="../assets/img/burger.png" alt="burger"></div>
  <div class="row"><h1>Eat-Da-Burger!</h1></div>
</div>

<div class="row">
  <div class="col-lg-6">
    <h2 class="mx-auto">Burgers waiting to be devoured</h2>

    <ul>
      {{#each burgers}}
        {{#unless devoured}}
          {{> burger/burger-block devoured=true}}
        {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="col-lg-6">
    <h2>Burgers that have been devoured</h2>
    <ul>
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>


<div class="mx-auto">
  <h2>Add a Burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="bur">Burger Name:</label>
      <input type="text" id="bur" name="name">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
